.header {
    width:100%;
    background: url('../../images/headerBackground.jpg') repeat;

    &-title {
        color: #ee4164;
        margin: 0 0 40px 0;
    }
}

.transbox {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 93px;
}
